{% load bootstrap4 %}


{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'hotspot/cover.css' %}" />

<body class="text-center" style="background: url('{% static 'hotspot/pattern.png' %}')">

  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">sWiFinder</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="/hotspot">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Contact</a>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">

      <div class="container">
        <div style="background-color: rgba(150, 150, 150, 0.5); padding: 10px;">
        <form class="form-horizontal" action="/hotspot/add/" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset>
            {{ form.as_p }}

          <input class="btn btn-primary" type="submit" value="Upload Layout">

          </fieldset>
        </form>
      </div>
      </div>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p></p>
      </div>
    </footer>
  </div>

</body>
